body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
}

.capa {
    width: 100%;
    height: 100vh;
    min-width: 350px;
    max-width: 50%;
}

.container-form {
    width: 50%;
    padding: 50px 100px;
    margin-left: 170px;
}

.logo {
    width: 214px;
    height: 214px;
    border: 5px solid #7500ff;
    border-radius: 20px;
    margin-bottom: 40px;
}

form label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

form input:focus {
    outline: none;
    border: 2px solid #7500ff;
}

button {
    width: 223px;
    height: 55px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #7500ff;
    color: white;
}

button:hover {
    background-color: #4f00b6;
}

p {
    font-size: 17px;
}

a {
    color: #7500ff;
}

a:hover {
    color: #4f00b6;
}